In [3]:
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
#Importing the dataset
df = pd.read_csv('online.csv')

In [5]:
df

     Marketing Spend  Administration  Transport     Area     Profit
0          114523.61       136897.80  471784.10    Dhaka  192261.83
1          162597.70       151377.59  443898.53      Ctg  191792.06
2          153441.51       101145.55  407934.54  Rangpur  191050.39
3          144372.41       118671.85  383199.62    Dhaka  182901.99
4          142107.34        91391.77  366168.42  Rangpur  166187.94
..               ...             ...        ...      ...        ...
325         69120.15       144008.60  142418.06      Ctg  107404.34
326         79784.31       148591.42  138505.51  Rangpur  105733.54
327         76563.04       132319.99  357639.25    Dhaka  105008.31
328         70506.96       187101.00  122603.64  Rangpur  103282.38
329         70060.92       157487.50  111593.82    Dhaka  101004.64

[330 rows x 5 columns]

In [6]:
df.shape

(330, 5)

In [7]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [8]:
#If found null value , then df.x.mean()

In [9]:
#separate x,y
x = df.drop(['Profit'],axis=1)

In [10]:
x

     Marketing Spend  Administration  Transport     Area
0          114523.61       136897.80  471784.10    Dhaka
1          162597.70       151377.59  443898.53      Ctg
2          153441.51       101145.55  407934.54  Rangpur
3          144372.41       118671.85  383199.62    Dhaka
4          142107.34        91391.77  366168.42  Rangpur
..               ...             ...        ...      ...
325         69120.15       144008.60  142418.06      Ctg
326         79784.31       148591.42  138505.51  Rangpur
327         76563.04       132319.99  357639.25    Dhaka
328         70506.96       187101.00  122603.64  Rangpur
329         70060.92       157487.50  111593.82    Dhaka

[330 rows x 4 columns]

In [11]:
y = df['Profit']

In [12]:
y

0      192261.83
1      191792.06
2      191050.39
3      182901.99
4      166187.94
         ...
325    107404.34
326    105733.54
327    105008.31
328    103282.38
329    101004.64
Name: Profit, Length: 330, dtype: float64

In [13]:
#One hot encoding
#convert the column into categorical columns
city = pd.get_dummies(x['Area'],drop_first=True)

In [14]:
city

     Dhaka  Rangpur
0        1        0
1        0        0
2        0        1
3        1        0
4        0        1
..     ...      ...
325      0        0
326      0        1
327      1        0
328      0        1
329      1        0

[330 rows x 2 columns]

In [15]:
#Drop the area column
x = x.drop('Area',axis=1)

In [16]:
x

     Marketing Spend  Administration  Transport
0          114523.61       136897.80  471784.10
1          162597.70       151377.59  443898.53
2          153441.51       101145.55  407934.54
3          144372.41       118671.85  383199.62
4          142107.34        91391.77  366168.42
..               ...             ...        ...
325         69120.15       144008.60  142418.06
326         79784.31       148591.42  138505.51
327         76563.04       132319.99  357639.25
328         70506.96       187101.00  122603.64
329         70060.92       157487.50  111593.82

[330 rows x 3 columns]

In [17]:
#concatation
x = pd.concat([x,city],axis=1)

In [18]:
x

     Marketing Spend  Administration  Transport  Dhaka  Rangpur
0          114523.61       136897.80  471784.10      1        0
1          162597.70       151377.59  443898.53      0        0
2          153441.51       101145.55  407934.54      0        1
3          144372.41       118671.85  383199.62      1        0
4          142107.34        91391.77  366168.42      0        1
..               ...             ...        ...    ...      ...
325         69120.15       144008.60  142418.06      0        0
326         79784.31       148591.42  138505.51      0        1
327         76563.04       132319.99  357639.25      1        0
328         70506.96       187101.00  122603.64      0        1
329         70060.92       157487.50  111593.82      1        0

[330 rows x 5 columns]

In [19]:
#Splitting the dataset into the training set and test set

In [20]:
#import library
from sklearn.model_selection import train_test_split

In [21]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
regressor = LinearRegression()

In [24]:
regressor.fit(xtrain, ytrain)

LinearRegression()

In [25]:
ytest

122    152211.77
66       2341.77
142    103282.38
246     35673.41
146    191050.39
         ...
34      96712.80
133    122776.86
132    124266.90
97      99937.59
258    149759.96
Name: Profit, Length: 83, dtype: float64

In [26]:
#predicting the test set results
pred = regressor.predict(xtest)

In [27]:
pred

array([152809.24913352,  40226.69019771, 102567.95130167,  42140.29925256,
       177278.42314811,  49046.06694821, 122564.52785464, 178756.39197518,
       116573.50503829, 158712.71492774, 110399.05936632,  59969.53669431,
       107531.02612724, 194704.62676672, 127759.04050493, 194715.1102664 ,
       129881.95470405,  74656.33113084,  67625.08139618, 132697.46300744,
       178764.66624485,  69252.64288972, 107531.02612724,  50994.19409673,
       107518.61472273, 162378.58046005, 156516.48601419, 103456.32692531,
       103186.37237208, 120705.07572064,  47451.17468849,  67633.35566586,
       111081.96813095, 158516.87094606, 151732.29158378,  79514.3890558 ,
        84072.7623581 , 116614.87638665, 151711.6059096 ,  42132.02498289,
       180704.5191237 , 123181.66255568, 120595.71503194, 149476.61914471,
       127050.15496542, 102596.91124552, 147549.17767037, 107841.6186573 ,
        91694.92722666, 177237.05179975, 132689.18873777, 107489.65477888,
       155252.64600499,  38550.01963453,  98398.83047963,  49066.75262239,
        69573.20854471,  50862.95272566, 149466.13564504, 157001.55356263,
       153335.68803032,  79522.66332547, 160454.51459491,  78567.64236869,
        72726.96175166, 120624.67497579, 192766.98311788,  81462.51620432,
       152829.9348077 , 108459.20648747,  98887.19358993, 130088.00200502,
        54549.50393215,  93470.13304785, 160464.99809458, 160868.95072441,
        96481.87250496, 134686.32240883,  96970.23561526, 108879.6544664 ,
       127730.08056108,  95399.50242703, 155263.12950466])

In [28]:
#R-Squared Value
from sklearn.metrics import r2_score

In [29]:
score = r2_score(ytest, pred)

In [30]:
score #Accuracy

0.8815291405197921

In [31]:
#Data 5k-10k